{% extends "base/base_log.html" %}
{% load custom_filters %}
{% block body %}
    <body>
        <table border="1">
            <tr>
              <th>企業名</th>
              <th>購入金額</th>
              <th>保有株数</th>
              <th>総額</th>
              <th>購入日</th>
            </tr>
            {% for page in page_list %}
            <tr>
                <td>{{ page.company_name }}</td>
                <td>{{ page.buy_price }}</td>
                <td>{{ page.buy_shares }}</td>
                <td>{{ page.buy_price|multiply:page.buy_shares }}円</td>
                <td>{{ page.buy_day }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
{% endblock %}