{% extends "base/base_log.html" %}
{% load custom_filters %}
{% load static %}
{% block body %}

<body>
    <h3>保有株一覧</h3>
    <p><a href="{% url 'log:index' %}">ホーム</a></p>
    <table border="1">
        <thead>
            <tr>
                <th>企業名</th>
                <th>購入金額</th>
                <th>保有株数</th>
                <th>総額</th>
                <th>購入日</th>
                <th>購入理由</th>
                <th>編集ボタン</th>
            </tr>
        </thead>
        <tbody>
            {% for page in page_list %}
            <tr>
                <td>{{ page.company_name }}</td>
                <td>{{ page.buy_price }}</td>
                <td>{{ page.buy_shares }}</td>
                <td>{{ page.buy_price|multiply:page.buy_shares }}円</td>
                <td>{{ page.buy_day }}</td>
                <td>{{ page.buy_reason }}</td>
                <td><a href="{% url 'log:page_update' page.id %}">編集</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}